.waiting__loader__container{
    display: flex;
    justify-content: center;

    width: 100%;
    
    margin-top: 20px;
}

.waiting__loader{
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border-top: 6px solid #c9d9ff;
    border-right: 6px solid #c9d9ff;
    border-bottom: 6px solid #c9d9ff;
    border-left: 6px solid #87a8f5;

    animation: loader 0.3s linear infinite;
}

@keyframes loader {
    100%{
        transform: rotate(360deg)
    }
}